.custom{
    background: url("weather\ \(2\).jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
 
}
.lead{
    color: #000;
}